.habit-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    width: 100%;
}

.habit-form, .habit-window {
    background: white;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;  
    min-width: 300px; 
}


.habit-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.habit-window {
    display: flex;
    flex-direction: column;
    text-align: left; 
}

.habit-form h2 {
    font-size: 1.1rem;
    color: #333;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.input-container {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.input-container input {
    flex: 1;
    padding: 0.75rem 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    font-size: 0.9rem;
    outline: none;
}

.input-container input::placeholder {
    color: #94a3b8;
}

.input-container button {
    background-color: #4176ff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.input-container button:hover {
    background-color: #2563eb;
}

.habit-window h2 {
    color: #333;
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.habit-window p {
    color: #64748b;
    font-size: 0.9rem;
    margin: 0;
}

.icon {
    font-size: 1.2rem;
    display: inline-flex;
    margin-bottom: 0.5rem;
}

.habits-header {
    margin-bottom: 1.5rem;
}

.habits-header h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    color: #1e293b;
    margin: 0;
}

.habit-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    background: #f8fafc;
    margin-bottom: 0.5rem;
    width: 100%;
}

.habit-item.completed {
    background: linear-gradient(to right, #f0fdf4, #ecfdf5);
}

.habit-item.completed label {
    color: #15803d;
    text-decoration: line-through;
}

.completed-date {
    font-size: 0.75rem;
    color: #15803d;
}

.habit-content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex: 1;
}

.habits-list {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.habit-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #e2e8f0;
    border-radius: 4px;
    cursor: pointer;
}

.habit-checkbox:checked {
    background-color: #22c55e;
    border-color: #22c55e;
}

.habit-content label {
    font-size: 1rem;
    color: #1e293b;
}

.habit-meta {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.habit-date {
    color: #64748b;
    font-size: 0.875rem;
}

.delete-btn {
    background: none;
    border: none;
}

.completed-list {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #e2e8f0;
}

.completed-list .habits-header h2 {
    color: #15803d;
}
